<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Awards</h2>
                
              
                
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Won 3rd prize in Coding Competition in Techniche 2012 (IITG Technical Fest).</a></span> <br/><br/>  <span class="project-tagline">IIT Guwahati </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Passed “A” level examination of Nation Cadet Crops (NCC)</a></span> <br/><br/>  <span class="project-tagline">National Cadet Corps</span>
                </div><!--//item-->
            </section><!--//section-->