<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>I'm Hridoy Sankar Dutta. Currently I am pursuing my Masters in Computer Science from National Institute of Technology, Durgapur working with <a href="http://www.nitdgp.ac.in/MCN-RG/mcn-rg.html"> Mobile and Networking Research Group.</a>  Prior to this I was at Indian Institute of Technology, Guwahati working as Assistant Project Engineer developing <a href="http://www.iitg.ernet.in/cseweb/tts/tts/Assamese/index.php"> Text to Speech System for Assamese Language.</a> I earned my bachelor's in Computer Science and Engineering from Institute of Science and Technology, Gauhati University. :) 
</p>
</div><!--//summary-->
</section><!--//section-->